# Ignorar archivos de desarrollo en producción
/src/
.babelrc
package-lock.json
package.json
postcss.config.js
tailwind.config.js
touchIn.sql
webpack.config.js

/node_modules/
/vendor/
.gitignore.main