# Habilitar el motor de reescritura
RewriteEngine On

# 1. Las solicitudes que comiencen con /api deben dirigirse al index.php para manejar la API
RewriteCond %{REQUEST_URI} ^/api/
RewriteRule ^ - [L]

# 3. Las demás solicitudes deben dirigirse a /public/
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L]