# Habilitar motor de reescritura
RewriteEngine On

# 1. Las solicitudes que comiencen con /api deben dirigirse al index.php
RewriteCond %{REQUEST_URI} ^/api/
RewriteRule ^ index.php [L]

# 2. Servir directamente si existe el archivo o directorio
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# 3. Redirigir las solicitudes restantes a /public/
RewriteRule ^(.*)$ public/$1 [L]
